.mc-editor {
  position: relative;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  //user-select: none;
  overflow: hidden;

  // ::selection{
  //   background-color: #ff9900;
  // }

  &[data-view="full"] {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;

    .mc-editor-full {
      display: none !important;
    }

    .mc-editor-page {
      display: inline-block !important;
    }

    .mc-editor-tools,
    .mc-editor-state {
      flex-shrink: 0;
    }

    .mc-editor-wraps {
      max-height: 100%;
      flex-shrink: 1;
      flex-grow: 1;
    }
  }
}

// 工具条
.mc-editor-tools {
  background: #f8f8f8 linear-gradient(180deg, #f8f8f8 2.9rem, #dfdfdf 3rem, #f8f8f8 3rem) repeat-y;
  background-size: 100% 3rem;
  // border-bottom: 1px solid #dfdfdf;
  min-height: 3rem;
  line-height: 2.9rem;
  padding: 0 0.35rem;
  // margin-bottom: 0.2rem;

  & > * {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 2rem;
    height: 3rem;
    line-height: 2rem;
    padding: 0.5rem 0;
    text-align: center;

    &[data-work="0"] {
      // opacity: 0.3;
      pointer-events: none;
    }

    // border-radius: 0.2rem;

    // margin: 0.5rem 0.1rem;
    // transition: background 0.2s, opacity 0.2s;

    & > span {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 0.2rem;
      opacity: 0.8;
      cursor: pointer;
      transition: all 0.1s;

      &:hover {
        background: rgba(0, 0, 0, 0.05);

        & > * {
          opacity: 1;
          color: #ff3838;
          fill: #ff3838;
        }
      }

      &:active {
        transform: scale3d(0.9, 0.9, 1);
      }
    }

    &.mc-editor-full {
      display: inline-block;
    }

    &.mc-editor-page {
      display: none;
    }

    svg {
      display: inline-block;
      width: 50%;
      height: 50%;
      vertical-align: text-bottom;
      padding-bottom: 2px;
      pointer-events: none;
    }
  }
}

// 图标分隔线
.mc-editor-separator {
  width: 0.5rem !important;
  opacity: 0.15;
  font-size: 0.9em;
  pointer-events: none;
}

// 图片下拉框
.mc-editor-tools-image {
  position: absolute;
  width: 30rem;
  background: #fff;
  padding: 1rem;
  top: 2.7rem;
  left: 50%;
  margin-left: -15rem;
  border: 1px solid #dfdfdf;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  transform: translate3d(0, 1rem, 0);

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #dfdfdf;
    top: -10px;
    left: 50%;
    margin-left: -5px;
  }

  &:after {
    border-bottom-color: #fff;
    top: -8px;
  }
}

.mc-editor-tools-image-tabs {
  position: relative;
  width: 100%;
  height: 2rem;
  margin-bottom: 0.5rem;

  & > * {
    text-align: center;
    display: block;
    width: 33.333%;
    height: 100%;
    float: left;
    border: 1px solid #dfdfdf;
    background: #f8f8f8;

    &:nth-child(2) {
      border-left: none;
      border-right: none;
    }
  }
}

.mc-editor-tools-image-wrap {
  position: relative;
  width: 100%;
  background: #fff;
  border: 1px solid #dfdfdf;

  & > * {
    position: relative;
    width: 100%;
    background: #fff;
    left: 0;
    top: 0;
    min-height: 5rem;
    display: none;
  }
}

// 对齐下拉框
//.mc-editor-tools-align {
//  position: absolute;
//  width: 4rem;
//  background: #fff;
//  padding: 1rem;
//  top: 2.7rem;
//  left: 50%;
//  margin-left: -2rem;
//  border: 1px solid #dfdfdf;
//  opacity: 0;
//  pointer-events: none;
//  transition: all .3s;
//  transform: translate3d(0, 1rem, 0);
//
//  &:before, &:after {
//    content: "";
//    position: absolute;
//    width: 0;
//    height: 0;
//    border: 5px solid transparent;
//    border-bottom-color: #dfdfdf;
//    top: -10px;
//    left: 50%;
//    margin-left: -5px;
//  }
//
//  &:after {
//    border-bottom-color: #fff;
//    top: -8px;
//  }
//
//  & > * {
//    border-radius: .3rem;
//
//    &:hover {
//      background: rgba(0, 0, 0, .05);
//      color: #ff3838;
//    }
//  }
//}

// 内容区
.mc-editor-wraps {
  position: relative;
  background: #fff;
  overflow-y: auto;
  padding: 0.7em 1em;

  &,
  * {
    outline: 0;
  }

  // 图片
  img {
    cursor: default;
  }

  // 链接
  a {
    &:hover {
      background: #f8f8f8;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    }
  }
}

// 内容区-内容
.mc-editor-content {
  position: relative;
  min-height: 20rem;
  max-height: 40rem;
  user-select: auto;
}

// 内容区-辅助
.mc-editor-guide {
  // 图像框
  .mc-editor-image-guide {
  }
}

// 状态栏
.mc-editor-state {
  position: relative;
  background: #f8f8f8;
  width: 100%;
  height: 2rem;
  line-height: 1rem;
  padding: 0.5rem;
  border-top: 1px solid #dfdfdf;
  // overflow: hidden;

  & > * {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    // opacity: 0.95;
    // font-size: .9em;

    & > * {
      position: relative;
      display: inline-block;
      height: 100%;
      vertical-align: top;
      border-radius: 0.3rem;
      padding: 0 0.3rem;

      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }

      & > svg {
        position: relative;
        height: 100%;
        width: 1rem;
        display: inline-block;
        vertical-align: middle;
        top: -1px;
      }
    }
  }
}

// DOM结构
.mc-editor-state-path {
  opacity: 0.8;
  & > * {
    margin-left: 0.5rem;
    cursor: pointer;
    font-size: 0.85em;

    &:before {
      position: absolute;
      display: inline-block;
      height: 100%;
      content: ">";
      left: -0.6em;
      bottom: 0.1em;
      font-size: 0.7em;
      font-weight: bold;
      opacity: 0.5;
    }

    &:first-child,
    &:nth-child(2) {
      margin-left: 0;

      &:before {
        display: none;
        margin-left: 0;
      }
    }
  }
}

.mc-editor-state-warn {
  opacity: 0.8;
  float: right;
  fill: #ff7700;
  color: #ff7700;
  font-size: 0.9em;
  cursor: pointer;
}

.mc-editor-menu {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #dfdfdf;
    top: -10px;
    left: 50%;
    margin-left: -5px;
  }
  &:after {
    border-bottom-color: #fff;
    top: -8px;
  }

  &.menu-color {
    width: 12rem;
    height: 14rem;
    position: absolute;
    background: #fff;
    padding: 1rem;
    top: 2.5rem;
    left: 50%;
    margin-left: -6rem;
    border: 1px solid #dfdfdf;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translate3d(0, 0, 0);

    input {
      border: 1px solid #dfdfdf;
      display: inline-block;
      width: 9.4rem;
      height: 1.5rem;
      line-height: 1.3rem;
      margin-bottom: 1rem;
    }

    ul {
      font-size: 0;
      line-height: 0;
      & > * {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin: 0.1rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
  }

  &.menu-align {
    //.mc-editor-tools-align {
    position: absolute;
    width: 4rem;
    background: #fff;
    padding: 1rem;
    top: 2.7rem;
    left: 50%;
    margin-left: -2rem;
    border: 1px solid #dfdfdf;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    transform: translate3d(0, 1rem, 0);

    & > * {
      border-radius: 0.3rem;

      &:hover {
        background: rgba(0, 0, 0, 0.05);
        color: #ff3838;
      }
    }
    //}
  }
}
